# Executables

zappy_server
zappy_ai
zappy_gui

# Binaries

*.o

# Python
__pycache__/
.coverage
zappy_ai_tests
logs/*.log

# Tests
*.gcda
*.gcno
*.gcov
*unit_tests

#generated doc
doc/doxygen/html
doc/doxygen/latex
website-doc/**
!website-doc/.gitkeep
